{{#unless replaceId}}
<div hx-swap-oob="beforeend:#messages">
{{/unless}}
{{#if isLocal}}
    <div id="entry-{{id}}" class="flex items-start justify-end space-x-2">
        <div class="bg-blue-500 text-white p-3 rounded-md max-w-lg">{{message}}</div>
    </div>
{{else}}
    {{#if replaceId}}
    <div id="entry-{{id}}" hx-swap-oob="outerHTML:#entry-{{replaceId}}" class="flex items-start space-x-2">
    {{else}}
    <div id="entry-{{id}}" class="flex items-start space-x-2">
    {{/if}}
        <div class="flex bg-gray-200 p-3 rounded-md max-w-lg">
            <div>{{message}}</div>
            {{#if showRefresh}}
            <form ws-send class="flex space-x-2" hx-disabled-elt="this">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="cmd" value="regenerate">
                <button
                    hx-disabled-elt="this"
                    class="bg-gray-500 self-end h-10 text-white px-4 py-2 rounded-md hover:bg-gray-600">
                    ⟳
                </button>
            </form>
            {{/if}}
        </div>
    </div>
{{/if}}
{{#unless replaceId}}
</div>
{{/unless}}
